{% extends 'store/base.html' %}
{% load static %}

{% block title %}
<title>Интернет-магазин здоровых продуктов</title>
{% endblock %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"></span></p>
            <h1 class="mb-0 bread">Продукты</h1>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					{% if category is None %}
						<li><a href="{% url 'store:shop_view' %}" class="active">Все</a></li>
						{% else %}
						<li><a href="{% url 'store:shop_view' %}">Все</a></li>
						{% endif %}

						{% if category == 'Овощи' %}
						<li><a href="{% url 'store:shop_view' %}?category={{category}}" class="active">Овощи</a></li>
						{% else %}
						<li><a href="{% url 'store:shop_view' %}?category=Овощи">Овощи</a></li>
						{% endif %}

						{% if category == 'Фрукты' %}
						<li><a href="{% url 'store:shop_view' %}?category={{category}}" class="active">Фрукты</a></li>
						{% else %}
						<li><a href="{% url 'store:shop_view' %}?category=Фрукты">Фрукты</a></li>
						{% endif %}

						{% if category == 'Соки' %}
						<li><a href="{% url 'store:shop_view' %}?category={{category}}" class="active">Соки</a></li>
						{% else %}
						<li><a href="{% url 'store:shop_view' %}?category=Соки">Соки</a></li>
						{% endif %}

						{% if category == 'Семена' %}
						<li><a href="{% url 'store:shop_view' %}?category={{category}}" class="active">Семена</a></li>
						{% else %}
						<li><a href="{% url 'store:shop_view' %}?category=Семена">Семена</a></li>
						{% endif %}
    				</ul>
    			</div>
    		</div>
    		<div class="row">


				{% for product in products %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{% url 'store:products_page_view' product.html %}" class="img-prod">
							<img class="img-fluid" src="{% static product.url %}" alt="Colorlib Template">
							{% if product.discount %}
    						<span class="status">{{product.discount}}%</span>
							{% endif %}
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{product.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										{% if product.discount %}
										<span class="mr-2 price-dc">&#x20bd {{product.price_before}}</span>
										<span class="price-sale">&#x20bd {{product.price_after}}</span>
										{% else %}
										<span class="price-sale">&#x20bd {{product.price_after}}</span>
										{% endif %}
									</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="1">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="1"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="1" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="1"></div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}



    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
{% endblock %}







